<!doctype html>
<html>
<head>
  <title>Play The Game</title>
</head>
<body>

<h1>Time to play!!</h1>

<form action="/madlib">
    
    <label for="color">Choose a color:</label>
    <select name="color" id="color">
        <option value="purple">Purple</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>

    <label for="noun">Choose a noun:</label>
    <select name="noun" id="noun">
        <option value="unicorn">Unicorn</option>
        <option value="dragon">Dragon</option>
        <option value="mandrake">Mandrake</option>
    </select>
  
    <label for="adjective">Choose an adjective:</label>
    <select name="adjective" id="adjective">
        <option value="obnoxious">Obnoxious</option>
        <option value="kooky">Kooky</option>
        <option value="whimsical">Whimsical</option>
    </select>
  <input type="hidden" name="person" value= {{ person }}>
  <input type="submit">
</form>

</body>
</html>